body, header, main, footer, div, p {
    padding: 0;
    margin: 0;
}

body {
    background: #e7e7e7;
    background: url("../images/background.png") no-repeat fixed center center;
    background-size: cover;
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
    background-color: #001489;
    height: 2rem;
    display: flex;
    justify-content: center;
}

nav {
    max-width: 1300px;
    padding-top: 0.25rem;
}

nav a {
    font-weight: bold;
    margin-right: 2rem;
    text-decoration: none;
    color: #fff;
}

nav a:hover {
    text-decoration: underline 2px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#content {
    margin-left: 200px;
    margin-right: 200px;
}

#content img:hover {
    transform: scale(1.2);
    transition-duration: 500ms;
}

#title {
    color: #140a47;
    font-weight: bold;
    font-size: 2.5rem;
}

.tag {
    width: 100%;
    align-self: flex-start;
}

.tag > p {
    position: absolute;
    z-index: 1;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: auto !important;
    padding: 0.4rem 0.8rem;
    font-size: 14px;
    font-weight: bold;
    background-color: #001489;
    color: #ffffff;
}

.inline {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inline-tags {
    display: flex;
    align-items: center;
}

.inline-tag {
    padding: 0.4rem 0.8rem;
    font-size: 14px;
    font-weight: bold;
    background-color: #00148955;
    color: #ffffff;
    margin-left: 1rem;
    cursor: pointer;
}

.inline-tag:nth-child(1) {
    margin-left: 0 !important;
}

.inline-tag.checked {
    background-color: #001489;
}

#modal {
    display: none;
    position: fixed;
    z-index: 3;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

#modal-title {
    font-size: 40px;
    color: white;
    text-align: center;
    margin-bottom: 15px;
}

#modal-image {
    margin: auto;
    display: block;
    max-width: 90%;
    max-height: 90%;
}

#modal-image {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {
        transform:scale(0)
    }
    to {
        transform:scale(1)
    }
}

#close-button {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

#close-button:hover, #close-button:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 1300px) {
    .hide-1300 {
        display: none;
    }

    #content {
        margin-left: 100px;
        margin-right: 100px;
    }
}

@media (max-width: 800px) {
    .hide-800 {
        display: none;
    }

    #content {
        margin-left: 50px;
        margin-right: 50px;
    }

    .modal-content {
        width: 100%;
    }
}

footer {
    text-align: center;
    margin: 2rem;
}
footer h4 {
    color: #001489;
    font-weight: bolder;
    font-size: 25px;
}

footer p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0;
    font-size: 18px;
}