#gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.image-container > img {
    transition: 0.3s;
    max-width: 90%;
}

.icons.checked {
    opacity: 1;
}

.icons {
    opacity: 0.2;
}